.pyc
src/management/__pycache__/__init__.cpython-311.pyc
src/management/__pycache__/__init__.cpython-311.pyc
src/management/__pycache__/edit.cpython-311.pyc
src/management/__pycache__/insert.cpython-311.pyc
src/management/__pycache__/remove.cpython-311.pyc
src/management/__pycache__/search.cpython-311.pyc
src/utilits/__pycache__/__init__.cpython-311.pyc
src/utilits/__pycache__/apresentation.cpython-311.pyc
src/utilits/__pycache__/menu.cpython-311.pyc
src/utils/__pycache__/__init__.cpython-310.pyc
src/utils/__pycache__/__init__.cpython-311.pyc
src/utils/__pycache__/apresentation.cpython-310.pyc
src/utils/__pycache__/apresentation.cpython-311.pyc
src/utils/__pycache__/menu.cpython-310.pyc
src/utils/__pycache__/menu.cpython-311.pyc
src/utils/__pycache__/presentation.cpython-311.pyc
src/management/__pycache__/__init__.cpython-311.pyc
src/management/__pycache__/edit.cpython-311.pyc
src/management/__pycache__/insert.cpython-311.pyc
src/management/__pycache__/remove.cpython-311.pyc
src/management/__pycache__/search.cpython-311.pyc
src/management/__pycache__/search.cpython-311.pyc
src/management/__pycache__/remove.cpython-311.pyc
src/management/__pycache__/insert.cpython-311.pyc
src/management/__pycache__/edit.cpython-311.pyc
src/management/__pycache__/__init__.cpython-311.pyc
